body {
    margin: 0;
    padding: 0;
    background: rgb(177, 144, 166);
 }

#container 
{
    margin: 1em auto;
    width: 100%;
    background: rgb(164, 83, 150);
}

#header
{
    background: rgb(245, 246, 246);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#mainnav
{
    background-color: rgb(248, 255, 254);
}

#menu
{
    background-color: rgb(248, 255, 254);
    float: right;
    width: 20%
}

#contents
{
    float: left;
    width: 77%;
    background-color: rgb(150, 7, 126);
    margin: 0 0 0 20px;
}

#footer
{
    clear: both;
    background-color: blue;        

}